.containerProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;
    font-family: 'Poppins';
    color: #D8CBFF;
}

.textGroups li {
    list-style-position: outside;
    font-size: 20px;
}

.textGroups p {
    font-size: 15px;
    color: #d8cbffc5;
    margin-bottom: 2.5rem;
}

.title {
    color: #ffffffee;
    font-size: 72px;
    text-align: left;
    padding: 1rem 0rem 2.5rem 0rem;
}

.subtitle {
    color: #ffffffee;
    font-size: 50px;
    text-align: left;
    padding: 2.5rem 0rem;
}

.containerProject ol {
    font-size: 30px;
}

.ourProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 1rem;
    height: 10rem;
}

.moreInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moreInfo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 17px;
}

.moreInfo a:hover {
    color: #e9dfff;
}

.btnPDF {
    background-color: #451892a9;
    font-size: 17px;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.cardProject {
    /* background: rgba(41, 22, 99, 0.801); */
    background: linear-gradient(to bottom, rgba(69, 24, 146, 0.44), #120234);
    margin: 1rem 0rem 2.5rem 0rem;
    padding: 4rem 6rem;
}

.titleProject {
    font-size: 30px;
    color: #8665CD;
    font-weight: bold;
    text-align: left;
}

.textProject {
    text-align: justify;
    font-size: 18px;
    padding: 3rem 0rem;
}

.textProject span {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    .title {
        font-size: 2rem;
        text-align: left;
        color: #ffffffee;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .text {
        font-size: 20px;
        font-weight: 100;
    }

    .textGroups li {
        font-size: 1.2rem;
    }

    .textGroups p {
        font-size: 0.8rem;
        padding: 0.5rem 0rem;
    }
    .textProject p{
        padding: 0.5rem 0rem;
    }
    .subtitle {
        font-size: 1.5rem;
        padding: 0rem 0rem;
    }

    .cardProject {
        width: 100%;
        margin: 0rem;
        background: none;
        padding: 1rem 0rem;
    }

    .titleProject {
        font-size: 25px;
        text-align: left;
    }
    .textProject{
        font-size: 15px;
        text-align: left;
    }
    .moreInfo{
        flex-direction: column;
        gap: 1.5rem;
    }
    .moreInfo a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 17px;
    }
    .moreInfo img{
        max-width: 35px;
    }
    .moreInfo a:hover {
        color: #e9dfff;
    }
    
    .btnPDF {
        background-color: #451892a9;
        font-size: 17px;
        padding: 1rem 2rem;
        border-radius: 5px;
        text-align: center;
        display: flex;
        cursor: pointer;
    }
    
}