.container {
    margin: 0;
}
.title {
    height: 80px;
    display: flex;
    align-items: left;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.63);
    justify-content: left;
    font-size: 45px;
}

