.main{
  display: block;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
  align-content: center;
}

.image {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}
.title{
  color: rgba(255, 255, 255, 0.63);
  font-size: 72px;
  text-align: left;
  margin-bottom: 4rem;
}
.container h3{
  padding: 0px 10px 0px 20px;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
}
.member{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center ;
  gap: 10px;
}
