.main{
  display: block;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
  align-content: center;
}

.image {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}
.title{
  color: rgba(255, 255, 255, 0.63);
  font-size: 72px;
  text-align: left;
  margin-bottom: 4rem;
}
.container h3{
  padding: 0px 10px 0px 20px;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
}
.member{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center ;
  gap: 10px
}
.div {
  display: flex;
  gap: 10px
}

.div a{
  background-color: #7900FF;
  border-radius: 5px;
}

@media screen and (max-width: 800px){
    .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .title{
      font-size: 2rem;
      align-self: flex-start
    }
    .container{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 0px;
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
    
    }
    .image {
      text-align: center;
      max-width: 120px;
      max-height: 120px;
    }
    .container h3{
      padding: 0px 10px 0px 20px;
      font-size: 18px;
      text-align: center;
    }
}