.container {
    height: 100%;
    width: 100%;
}

.caps {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(4, 1fr); */
    /* min-height: 500px; */
    width: 100%;
    margin-top: 60px;
    overflow: auto;
    height: 515px;
    gap: 1.5rem;
}
.caps::-webkit-scrollbar{
    width: 0px;
}

.card {
    /* max-width: 587px; */
    /* max-height: 95px; */
    width: 100%;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.link:hover {
    background: rgb(41, 22, 99);
    cursor: pointer;
}

.title {
    color: #FBF5FF;
    margin-left: 25px;
    font-size: 15;
    font-weight: bold;
}

.subtitle {
    color: #8665CD;
    margin-left: 25px;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
}

.link {
    /* max-width: 587px; */
    /* max-height: 95px; */
    width: 100%;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: rgba(41, 22, 99, 0.50);
}

@media screen and (max-width: 800px) {
    .capsMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 4.5rem;
        margin-top: 2rem;
        gap: 2rem;
        padding: 1.5rem 0rem;
        height: 100%;
    }

    .link {
        width: 100%;
        height: 4.5rem;
        border-radius: 15px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .title {
        margin-left: 12px;
        font-size: 19px;
        font-weight: bold;
    }

    .subtitle {
        margin-left: 12px;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 500;
    }
}