.ChapterContainer {
    display: flex;
    font-family: Poppins;
    flex-direction: column;
}

.ChapterContainer h2 {
    color: #8665CD;
    font-size: 1.5rem;
    font-weight: bold;
}

.ChapterContainer p {
    color: #ECECEC;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;

}

.ChapterCard {
    padding: 3rem 5rem;
    border-radius: 8px;
    border: 1px solid #451892;
    max-height: 500px;
    background: linear-gradient(180deg, rgba(69, 24, 146, 0.44) 0%, rgba(41, 22, 98, 0.00) 100%);
    overflow: auto;
}

.ChapterCard p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

@media screen and (max-width: 800px) {

    .ChapterContainer {
        display: flex;
        font-size: 30px;
        flex-direction: column;
    }

    .ChapterContainer h2 {
        color: #8665CD;
        font-size: 1rem;
        font-weight: bold;
    }

    .title {
        font-size: 30px
    }

    .ChapterContainer p {
        color: #ECECEC;
        font-family: 'Poppins';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .ChapterCard {
        padding: 0rem 0rem;
        border-radius: 8px;
        border: 0px solid #451892;
        width: 100%;
        background: none;
        max-height: 100%;
        overflow: auto;
        background: none
    }

    .ChapterCard p {
        color: rgba(255, 255, 255, 0.85);
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
}