@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.title {
  font-size: 72px;
}

.desc {
  font-size: 20px;
  font-family: 'Poppins';
  color: #D8CBFF;
  font-weight: 100;
  font-weight: 500;
}

.button {
  padding: 15px 13px;
  cursor: pointer;
  background-color: #E43397;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  width: max-content;
  font-weight: 500;
}
.button:hover {
  background-color: #e4339794;
}
.arrow {
  margin-left: 20px;
}

.img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}
.logo-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0px;
    overflow: hidden;
  }
  .title{
    font-size: 3rem;
  }
  .desc{
    font-size: 13px;
  }
  .button{
  padding: 7px 6px;
  }
  .img{
    display: none;
  }
  .logo-mobile {
    display: block;
  }

}